.header {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.button-reset {
	margin: 10px; /* Отступ между текстом и кнопкой */
    padding: 10px 20px; /* Размеры кнопки */
    font-size: 16px; /* Размер текста кнопки */
    cursor: pointer; /* Указатель при наведении */
    border: 1px solid #000; /* Граница для видимости */
    background: none; /* Прозрачный фон, если нужно */
    border-radius: 5px; /* Скругленные углы для красоты (опционально) */
	font-weight: bold;
}
